<header class="header">
  <div class="header-container">
    <!-- hamburger -->
    <button
      class="header-btn menu-toggle"
      aria-label="Toggle menu"
      aria-expanded="false"
    >
      <img src="assets/icon-hamburger.svg" alt="hamburger icon" />
    </button>

    <!-- Logo -->
    <a [routerLink]="['/']" class="logo">
      <img src="assets/logo.svg" alt="Logo" class="logo-image" />
    </a>

    <!-- nav list -->
    <nav class="navigation">
      <ul class="nav-list">
        <li>
          <a
            [routerLink]="['']"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{exact: true}"
            class="nav-link sub-title"
            >HOME</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/category', 'headphones']"
            routerLinkActive="active"
            class="nav-link sub-title"
            >HEADPHONES</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/category', 'speakers']"
            routerLinkActive="active"
            class="nav-link sub-title"
            >SPEAKERS</a
          >
        </li>
        <li>
          <a
            [routerLink]="['/category', 'earphones']"
            routerLinkActive="active"
            class="nav-link sub-title"
            >EARPHONES</a
          >
        </li>
        <li>
          @if (isAuthenticated()) {
          <!-- Show Profile dropdown when authenticated -->

          <a class="nav-link sub-title profile-toggle" type="button">
            PROFILE
          </a>

          } @else {
          <a
            [routerLink]="['/auth', 'login']"
            routerLinkActive="active"
            class="nav-link sub-title"
            >LOGIN</a
          >
          }
        </li>
      </ul>
    </nav>

    <!-- cart -->
    <button class="header-btn cart-button" aria-label="View cart">
      <img src="assets/icon-cart.svg" alt="cart icon" />
    </button>
  </div>
</header>
