<div class="signup-page">
  <div class="signup-container">
    <h1 class="signup-title">Create your account</h1>
    <p class="signup-subtitle sub-title">
      Already have an account? <a [routerLink]="['/auth/login']">Sign in</a>
    </p>
    <form class="signup-form" [formGroup]="signupForm" (ngSubmit)="onSubmit()">
      <!-- Success Message -->
      @if (successMessage()) {
      <div class="message success-message">{{ successMessage() }}</div>
      }

      <!-- Error Message -->
      @if (errorMessage()) {
      <div class="message error-message-global">{{ errorMessage() }}</div>
      }

      <div class="input-group">
        <app-auth-input
          id="fullName"
          type="text"
          placeholder="Full Name"
          formControlName="fullName"
          [hasError]="hasError('fullName')"
          [errorMessage]="getErrorMessage('fullName')"
        />

        <app-auth-input
          id="email"
          type="email"
          placeholder="Email address"
          autocomplete="email"
          formControlName="email"
          [hasError]="hasError('email')"
          [errorMessage]="getErrorMessage('email')"
        />

        <app-auth-input
          id="password"
          type="password"
          placeholder="Password"
          autocomplete="new-password"
          formControlName="password"
          [hasError]="hasError('password')"
          [errorMessage]="getErrorMessage('password')"
        />
      </div>

      <button
        class="btn"
        type="submit"
        [disabled]="signupForm.invalid || isSubmitting()"
        [class.loading]="isSubmitting()"
      >
        @if (isSubmitting()) {
        <span>Creating account...</span>
        } @else {
        <span>Sign up</span>
        }
      </button>
    </form>
  </div>
</div>
