<div class="forgot-password-page">
  <div class="forgot-password-container">
    <h1 class="forgot-password-title">Reset your password</h1>
    <p class="forgot-password-subtitle sub-title">
      Remember your password? <a [routerLink]="['/auth/login']">Sign in</a>
    </p>

    <form
      class="forgot-password-form"
      [formGroup]="forgotPasswordForm"
      (ngSubmit)="onSubmit()"
    >
      <!-- Success Message -->
      @if (successMessage()) {
      <div class="message success-message">{{ successMessage() }}</div>
      }

      <!-- Error Message -->
      @if (errorMessage()) {
      <div class="message error-message-global">{{ errorMessage() }}</div>
      }

      <div class="input-group">
        <app-auth-input
          id="email"
          type="email"
          placeholder="Email address"
          autocomplete="email"
          formControlName="email"
          [hasError]="hasError('email')"
          [errorMessage]="getErrorMessage('email')"
        />
      </div>

      <button
        class="btn"
        type="submit"
        [disabled]="forgotPasswordForm.invalid || isSubmitting()"
        [class.loading]="isSubmitting()"
      >
        @if (isSubmitting()) {
        <span>Sending reset email...</span>
        } @else {
        <span>Send reset email</span>
        }
      </button>
    </form>

    <div class="additional-links">
      <p class="sub-title">
        Don't have an account? <a [routerLink]="['/auth/signup']">Sign up</a>
      </p>
    </div>
  </div>
</div>
