<section class="hero">
  <div class="hero-content">
    <p class="overline">New Product</p>
    <h1 class="hero-title h1-manrope-bold">XX99 Mark II Headphones</h1>
    <p class="hero-description body-medium">
      Experience natural, lifelike audio and exceptional build quality made for
      the passionate music enthusiast.
    </p>
    <a class="cta-btn sub-title"> See Product </a>
  </div>
  <div class="hero-image">
    <img
      ngSrc="assets/shared/mobile/hero-headphone.png"
      alt="hero headphone"
      class="headphone-image"
      fill="true"
      priority
    />
  </div>
</section>
